.contact-details {
  width: 65%;
  background-color: #e1e1e1;
  color: #4a4a4a ;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding: 30px;
  box-sizing: border-box;
  &__header {
    width: 100%;
    img {
      width: 40px;
    }
  }
}