.sidemenu {
  width: 35%;
  min-width: 300px;
  background-color: #e1e1e1;
  color: #4a4a4a ;
  position: fixed;
  height: 100%;
  top: 0;
  border-right: 1px solid #4a4a4a;
  &__letter-list {
    position: fixed;
    top: 0;
    width: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #4a4a4a;
    overflow: auto;
    button {
      padding: 5px;
      text-align: center;
      transition: 0.3s;
      color: #efb810;
      &:hover {
        transition: 0.3s;
        background-color: #696969;
      }
    }
  }

  &__search-bar {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    margin-left: 35px;
    .inline-wrapper {
      width: 100%;
      border-bottom: 1px solid #4a4a4a;
      align-items: center;
      img {
        width: 15px;
        height: 15px;
        margin-left: 20px;
      }
      input {
        padding: 20px;
        padding-left: 10px;
      }
    }
    button {
      margin-top: 8px;
      transition: 0.3s;
      padding: 3px 6px;
      border-radius: 3px;
      font-weight: bold;
      margin-left: 15px;
      &:hover {
        background-color: #c3c3c3;
      }
    }
  }

  &__contacts-list {
    width: 91%;
    background-color: #e1e1e1;
    color: #4a4a4a;
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    margin: 105px 0 0 46px;
    .contact {
      padding: 10px 20px;
      border-top: 1px solid #c3c3c3;
      width: 100%;
      font-size: 16px;
      text-align: left;
      font-weight: 300;
      &:last-of-type {
        border-bottom: 1px solid #c3c3c3;
      }
      &:hover {
        transition: 0.3s;
        background-color: #c3c3c3;
      }
    }
    .pagination {
      width: 100%;
      margin-top: 15px;
    }
  }
}