.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  li {
    &:nth-of-type(2) {
      width: 60px;
      margin: 0 10px;
      text-align: center;
      color: #4a4a4a;
    }
    button {
      padding: 3px 10px;
      border-radius: 3px;
      font-weight: bold;
      border: 1px solid #ca9e24;
      color: #ca9e24;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}